nav.navbar-custom {
  margin-bottom: 0;
  background-color: #08083b;
  text-align: center;
}


h1.empDirectory {
  color: white;
  position: relative;
  float: center;
}

p.headerText {
  color: white;
}